h1 {
	font-family: Aller;
	 text-transform: uppercase;
	 font-size: 100px;
	 background-size: 120px 120px;
	-moz-background-size: 120px 120px;
	padding: 0px 0px 0px 200px;
	background-repeat: no-repeat;
	margin: 0px 0px 40px 0px;
	font-weight: bold;
	
}
li, p, div, h2, h3 {
	font-family: verdana;
}
h1.centered {
	padding: 0px;
	text-align: center;	
}
h2 {
	font-size: 50px;font-family: "Aller";
}
h3 {
	font-size: 40px;font-family: "Aller Light";
	clear: both;
}
body {
	margin: 20px;
}
li {
	font-size: 2em;
}

pre {
	font-size: 2em;
	font-family: Courier New;
}
table pre {
	margin: 0px;
}
.class {background-image: url(images/class.png);}
.controller { background-image: url(images/controller.png);}
.damnit { background-image: url(images/damnit.png);}
.documentjs { background-image: url(images/documentjs.png);}
.extensions { background-image: url(images/extensions.png);}
.funcunit { background-image: url(images/funcunit.png);}
.generators { background-image: url(images/generator.png);}
.model { background-image: url(images/model.png);}
.phui { background-image: url(images/phui.png);}
.steal { background-image: url(images/steal.png);}
.update { background-image: url(images/update.png);}
.view { background-image: url(images/view.png);}




table {
	width: 100%;
}
table.intro td {
	padding: 0px 0 40px 0px;
}
table.intro td a{
	width: 120px; height: 120px;
	display: inline-block;
	background-size: 120px 120px;
	-moz-background-size: 120px 120px;
	background-repeat: no-repeat;
}
.intro td {
	text-align: center;
}

.drag, .hovers {
	border: solid 1px red;
	width: 100px;
	height: 50px;display: inline-block;
}
.drop, .toggler {
	border: dashed 1px blue;
	width: 100px;
	height: 50px;display: inline-block;
}
.over, .hover {
	background-color: yellow;
}
.string {
	color: gray;
}
.keyword {
	color: #800080;
}
.comment {
	color: #008000;
}
.toggle {
	background-color: yellow;
}
.toggler {  }
#destroyME {
	width: 200px;
	height: 100px;
	background-color: red;
}
.blackBorder {
	height: 100%;
	width: 100%;
	background-color: yellow;
}
.hasPadding {
	height: 120px;
	width: 120px;
	padding: 40px;
	border: solid 1px red;
	background-color: green;
}

iframe {
	border: none;
	width: 100%;
}
