[submodule "documentjs"]
	path = documentjs
	url = git://github.com/jupiterjs/documentjs.git
[submodule "funcunit"]
	path = funcunit
	url = git://github.com/jupiterjs/funcunit.git
[submodule "steal"]
	path = steal
	url = git://github.com/jupiterjs/steal.git
[submodule "jquery"]
	path = jquery
	url = git://github.com/jupiterjs/jquerypp.git
[submodule "can"]
	path = can
	url = git://github.com/jupiterjs/canjs.git
[submodule "canui"]
	path = canui
	url = git://github.com/jupiterjs/canui.git
