sudo: required
language: node_js
dist: trusty
addons:
  firefox: "51.0"
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
node_js:
- 8
- 10
- 12
notifications:
  slack:
    secure: TAq0S0FA/OXtLjmIlJsytzz5WMB5L2QEedW7q+rAhKHg+w9FXOkE9guP72yLe92hKLMAsitD4OSACOtIR3QSSGNden/eKYQEVikCeNKOIO/FoHOrPTkXHfW1/2ihIvOBF2NaEvIGZsjwr12wIewSSM5VrdKwl1skgd0K7CoY/Uw=
  email:
    recipients:
      - justin@bitovi.com
      - david@bitovi.com
      - matthew@bitovi.com
    on_success: change
    on_failure: change
script:
  - sudo sh -c 'dbus-uuidgen > /etc/machine-id'
  - npm run jshint
  - npm run document
  - npm run test-guides
  - npm run coverage:upload
