@logo: "../img/javascriptmvc-logo.svg";
@logoFooter: "../img/javascriptmvc-logo-grey.svg";
@logoWidth: 260px;
@pageBackground: "";

@colorHeader: #323332;
@colorLinks: ##1f54c6;
@colorCode: ##f9f7df;
@colorNav: #bdd634;
@colorSignature: #333333;
@colorTags: #999999;