
body.Guide {
	
	/* left navigation overwrites*/
	section.contents {
		> ol > li:first-child ~ li {
			border-top: solid 1px lighten(@blue, 5%);
		}
		> ol {   
			> li {
				font-size: 17px;
				padding-top: 6px;
                line-height: 18px;

				a {
					font-weight: 300;
				}
				&.active a {   
					font-weight: 900;
				}
			}
		}
	}
}
