
body.Guide {
    #section_GettingandDisplayingDatafromtheServer {
            font-size: 42px;
    }
    
    #section_Setupautomatedtestsandcontinuousintegration_CI_{
            font-size: 42px;
    }
	
	/* left navigation overwrites*/
	section.contents {
		> ol > li:first-child ~ li {
			border-top: solid 1px lighten(@blue, 3%);
		}
		> ol {   
			> li {
				font-size: 15px;
				padding-top: 6px;
                line-height: 18px;

				a {
					font-weight: 400;
				}
				&.active a {   
					font-weight: 900;
				}
			}
		}
	}
}
