body.Features,
body.Guide {
	/* @containerWidth @contentWidth defined in ./variables.less near the bottom */
    
	background-color: #FCFEFD;
	color: #000000;

    a {
        font-weight: 900;
        color: @logoColor;
    }

	pre {
		code.prettyprint {
			word-wrap: break-word;
		}
	}

	> .container {
		display: block;
		width: 1000px;
		margin: 0px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
		padding: 0px;
		padding-bottom: 50px;
		border-radius: 0px;
		border-bottom: 1px solid #EEE;

		> .content {
			display: block!important;
			margin: 0px;
			margin-left: auto;
			padding: 0px;
			width: @contentWidth;
			background-color: transparent;
			border: none;
			border-radius: 0px;
		}
	}

	/* left navigation */
	section.contents {
		position: fixed;
		z-index: 5;
		top: 100px;
		left: ~"calc( ( 100% - " @containerWidth ~" ) / 2 )";
		width: 250px;
		background-color: @logoColor;

		ol {
			margin: 0px;
			list-style: none;

			li {
				padding: 0px;
				margin: 0px;
				line-height: normal;

				a:hover {
					text-decoration: none;
				}
			}
		}

		> ol {
			padding: 15px 0 5px 15px;
            
			> li {
				font-weight: 900;
				font-size: 20px;
				margin-bottom: 5px;
				padding-right: 5px;

				a {
					color: #FFFFFF;
					font-weight: 700;
				}
			}

			> ol {
				padding: 0px;

				> li a {
					font-size: 13px;
                    padding: 3px 5px 4px 13px;
					display: block;
					font-weight: 400;
					color: lighten(@blue, 35%);
                    line-height: 15px;
				}
				> li:hover a,
				> li.active a {
					position: relative;
					background-color: @charcoal;
					color: #FFFFFF;

					&:before {
						content: ">";
						position: absolute;
						font-size: 10px;
						left: 3px;
						top: 50%;
						-ms-transform: translateY( -50% );
						-webkit-transform: translateY( -50% );
						-moz-transform: translateY( -50% );
						-o-transform: translateY( -50% );
						transform: translateY( -50% );
					}
				}
			}
		}
	}

	section.title .heading {
		@h1height: 222px;

		position: initial;
		height: @h1height;

		h1 + ul.tags {
			display: none;
		}
		h1 {
			display: block;
			position: absolute;
			left: 0px;
			right: 0px;
			padding-left: ~"calc( ( 100% - " @containerWidth ~" ) / 2 + " @containerWidth - @contentWidth ~" )";
			padding-top: 25px;
			height: @h1height;
			background-color: #FFFFFF;
			color: @black;
			z-index: 1;
			font-weight: 100;
			font-size: 105px;
			background-image: url( "/static/img/background.jpg" );
			margin-bottom: 40px;
			max-width: initial;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0px;
				bottom: 0px;
				right: 0px;
				left: 0px;
				z-index: -1;
				background-color: fade( #FFFFFF, 85% );
			}
		}
	}

	/* main body of content */
	section.comment {
		&:before {
			/* this prevents vertical margin collapsing */
			content: "\007C\00a0\00a0";
			font-size: 0px;
		}
		
		@h2height: 222px;
		h2 {
			display: block;
			position: absolute;
			left: 0px;
			right: 0px;
			padding-left: ~"calc( ( 100% - " @containerWidth ~" ) / 2 + " @containerWidth - @contentWidth ~" )";
			padding-top: 70px;
			height: @h2height;
			background-color: @charcoal;
			color: @white;
			z-index: 1;
			font-size: 50px;
			background-image: url( "/static/img/background.jpg" );
			margin-top: 40px;
          
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0px;
				bottom: 0px;
				right: 0px;
				left: 0px;
				z-index: -1;
				background-color: rgba( 33, 38, 40, 0.75 );
			}
			&:after {
				//this is avoiding a problem with document.elementFromPoint that sets what nav item is active
				content: "";
				display: block;
				position: absolute;
				top: -40px;
				height: 41px;
				right: 0px;
				left: 0px;
			}
		}
		h3 {
			color: @logoColor;
			font-size: 40px;
			margin-top: 50px;
			border-top: 1px solid #EEEEEE;
			padding-top: 50px;
		}

 		h2 + * {
			padding-top: @h2height + 50px!important; /* the px added here are the margin under the h2 */
		}
		h2 + p {
			padding-top: @h2height + 100px!important;
		}
		h2 + p,
		h2 + p + p,
		h2 + p + p + p {
			font-weight: 400;
			color: @grey;
            font-size: 19px;
		}
	}

}