body.Features,
body.Guide {
	background-color: #FFFFFF;

	> .container {
		width: 1250px;
		background-color: #FCFEFD;

		> .content {
			margin-left: 375px;
		}
	}

	section.contents {
		position: fixed;
		top: 100px;
		left: 110px;
		background-color: #3B83A3;
	}

}