@charcoal: #2b3034;
@white: #FFF;
@gray: #777;
@blue: #3781a4;
@black: #444;

body {
  background-color: #eae9e9;
}

body.donejs {
  text-align: center;
  font-family: 'Lato', sans-serif;

  h1 {
    font-size: 60px;
  }

  .light {
    font-weight: 100;
  }

  .normal {
    font-weight: 400;
  }

  .heavy {
    font-weight: 700;
  }

  .hero {
    color: @white;
    background-image: url("../img/background.jpg");
    background-size: cover;
    padding: 0;
    .transparency {
      background-color: rgba(0, 0, 0, .55);
    }
    a {
      color: @white;
      text-decoration: underline;
    }
    .lead-in {
      padding: 57px 200px;
    }

    .lead {
      margin: 4px 60px;
      font-size: 20px;
    }
    .install {
      margin-top: 60px;
      p {
        font-size: 14px;
        margin-bottom: 1px;
      }
      .code {
        text-align: right;
        .caption {
          margin: 0 auto;
          width: 285px;

        }
      }
      textarea {
        padding: 10px;
        color: @black;
        font-size: 18px;
        line-height: normal;
        text-align: left;
        width: 290px;
        font-family: 'Source Code Pro', monospace;
        border-color: @blue;
        border-width: 2px;
      }
      .start {
        padding-top: 27px;
        .btn {
          display: block;
          height: 35px;
          width: 290px;
          background-color: @blue;
          text-decoration: none;
          padding: 5px;
        }
      }
      .social {
        text-align: left;
        padding-top: 12px;
        width: 290px;
      }
      .ghbtns {
        margin-left: 17px;
        float:right;
        width:80px;

      }
    }
    .triptych {
      margin-top: 45px;
      margin-left: 0;
      margin-right: 0;
      .box {
        cursor: pointer;
        padding: 40px 90px 105px;
        line-height: normal;
        background-image: url("../img/donejs-final_arrow-icon 1.svg");
        background-size: 26px;
        background-position: 50% 80%;
        background-repeat: no-repeat;

        font-size: 16px;
      }

      .usability {
        background-color: rgba(90, 90, 90, 0.8);
      }
      .performance {
        background-color: rgba(5, 152, 196, 0.8);
      }
      .maintainable {
        background-color: rgba(40, 40, 40, 0.8);
      }
    }
  }

  .usability.container {
    background-color: @white;
    .lead-in {
      padding: 88px 10% 113px;
    }
    .lead {
      margin: 6px 160px;
      font-size: 20px;
    }
    h3 {
      margin-top: 28px;
    }
    h3.learn {
      margin-top: 18px;
      a {
        color: @black;
        text-decoration: underline;
      }
    }

    h2.better {
      margin-top: 58px;
    }
    .spacer {
      background-image: url("../img/line.png");
      background-position: center;
      background-repeat: no-repeat;
      height: 80px;
    }

    .phase img {
      margin-bottom: 28px;
    }
    .img-wrap {
      display:inline-block;
      height: 28px;
      width: 30px;
      text-align: left;
    }
    .btn {
      display: block;
      height: 40px;
      width: 100%;
      background-color: @blue;
      text-decoration: none;
      padding: 7px;
      padding-left:24px;

      color: @white;
      img {
        height: 14px;
        width: 14px;
        vertical-align: top;
        margin-top: 5px;
      }
    }
    .trail {
      margin: 0 125px;
      font-size: 20px;
      a {
        color: @black;
        text-decoration: underline;
      }
    }
  }

  .performance.container {
    color: @white;
    background-color: @blue;
    padding-bottom: 129px;
    a {
      color: @white;
      text-decoration: underline;
    }
    .lead-in {
      padding: 105px 200px 0 200px;
    }
    .lead {
      margin: 0 170px;
      font-size: 20px;
    }
    .rollover {
      margin: 0;
    }
    .spacer {
      background-image: url("../img/line.png");
      background-position: center;
      background-repeat: no-repeat;
      height: 68px;
    }
    .graph {

      .col {
        position: relative;
        float: left;
        width: 50%;
      }
      .performance-row {
        background-image: url("../img/donejs-final_Graph 5.svg");
        background-repeat: no-repeat;
        background-position: top center;
        margin: 36px auto;
        padding-bottom: 50px;
        position: relative;
        display:flex;
      }
      .col.donejs {
        text-align: right;
      }
      .col.naive {
        text-align: left;
      }

      .donejs-text, .naive-text {
        position: absolute;
        opacity: 0;
      }
      .naive-thumbs {
        margin-left: 50px;
      }
      .donejs-thumbs {
        margin-right: 50px;
      }
    }

    .col-head {
      font-size: 10px;
    }

    .trail {
      .heavy {
        margin-top: 35px;
        margin-bottom: 0;
      }
      .links {
        padding: 0 215px;
      }
    }
  }

  .maintainable.container {
    color: @white;
    background-color: @charcoal;
    h1 {
      margin-bottom: 58px;
    }
    h2.trail {
      margin-top: 53px;
    }
    .lead-in {
      padding: 176px 214px 241px 214px;
    }
    .lead {
      margin: 0 170px;
      font-size: 20px;
    }
    .inside {
      background-color: @blue;
      //height:100%;
    }
    .caption {
      text-align: left;
      padding: 10px 25px;
      line-height: normal;
      font-size: smaller;
    }
    .img-responsive {
      height: 234px;
      width: 100%;
    }
    .row {
      margin-bottom: 20px;
    }
    .links {
      margin: 0 90px;
      a {
        color: @white;
        text-decoration: underline;
        font-size: 18px;
      }
    }
  }

  .community.container {
    color: @white;
    background-color: @black;

    h2.trail {
      margin-top: 53px;
    }
    .lead-in {
      padding: 84px 45px 37px 45px;
    }
    h4 {
      padding: 0 340px;
    }
    .links {
      text-align: left;
      padding: 0 21px 0 218px;
      a {
        color: @white;
        text-decoration: underline;
      }
    }
  }

  footer {
    margin-top:0;
  }
}

/* content styles */

.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;

}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

@media (min-width: 768px) {
  .donejs div.container {
    width: 1076px;
  }

  .donejs-text {
    left: -124px;
  }

  .naive-text {
    left: 358px;
  }
}

@media (min-width: 992px) {
  .donejs div.container {
    width: 1076px;
  }

  .donejs-text {
    left: -143px;
  }

  .naive-text {
    left: 379px;
  }

}

@media (min-width: 1200px) {

  .donejs div.container {
    width: 100%;
  }

  .donejs-text {
    left: -20px;
  }

  .naive-text {
    left: 358px;
  }

  .content {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }

  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

}

.donejs {
  .clearfix {
    .clearfix();
  }
}

//.donejs {
//  #low:after,#low:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before {
//    content: " ";
//    display: table
//  }
//
//  #low:after,.clearfix:after,.container-fluid:after,.container:after,.row:after {
//    clear: both
//  }
//}

