<%% this.each(function(current) { %>
	<li class="<%= underscore %>" <%%= (el) -> el.data('<%= underscore %>', current) %>>
    <h3><%%= current.attr('name') %> <a href='javascript://' class='destroy'>X</a></h3>
    <p><%%= current.attr('description') %></p>
	</li>
<%% }) %>