<div class="container-fluid">
  <div class="row">
    <div class="hero clearfix">
        <div class="transparency clearfix">
            <div class="lead-in">
                <h1>The DoneJS <span class="heavy">Community</span></h1>
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lBnKNaSJvGI" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="community-quick-links col-xs-12">
                  <ul class="quick-link-list">
                    <li>
                      <a href="https://gitter.im/donejs/donejs">
                        <img class="quick-link-icon" src="./static/img/icon-gittr-gray.svg">
                        <span class="quick-link-label">Chat</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/donejs">
                        <img class="quick-link-icon" src="./static/img/icon-github-gray.svg">
                        <span class="quick-link-label">GitHub</span>
                      </a>
                    </li>
                    <li>
                      <a href="http://stackoverflow.com/search?q=donejs">
                        <img class="quick-link-icon" src="./static/img/icon-stackoverflow-gray.svg">
                        <span class="quick-link-label">Stack Overflow</span>
                      </a>
                    </li>
                    <li>
                      <a href="http://forums.donejs.com/">
                        <img class="quick-link-icon" src="./static/img/icon-forums-gray.svg">
                        <span class="quick-link-label">Forums</span>
                      </a>
                    </li>
                    <li>
                      <a href="http://www.meetup.com/find/?allMeetups=false&keywords=donejs&radius=Infinity&sort=recommended&eventFilter=mysugg">
                        <img class="quick-link-icon" src="./static/img/icon-meetup-gray.svg">
                        <span class="quick-link-label">Meetup</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/channel/UCEnTQUfJi0L6l7g8IRuaVkg">
                        <img class="quick-link-icon" src="./static/img/icon-youtube-gray.svg">
                        <span class="quick-link-label">YouTube</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/donejs">
                        <img class="quick-link-icon" src="./static/img/icon-twitter-gray.svg">
                        <span class="quick-link-label">Twitter</span>
                      </a>
                    </li>
                    <li>
                      <a href="http://blog.bitovi.com/feed">
                        <img class="quick-link-icon" src="./static/img/icon-rss-gray.svg">
                        <span class="quick-link-label">RSS</span>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="overview-nav hidden-sm hidden-md hidden-lg">
                  <a href="#resources" class="overview-btn usability-btn">
                    <span class="heavy">Help</span> <span class="light">&amp</span><br> <span class="heavy">Learning Resources</span>
                    <span class="overview-nav-fixed-btn">Resources</span>
                  </a>
                  <a href="#events" class="overview-btn performance-btn">
                    <span class="light">Upcoming</span><br><span class="heavy">Events</span> <span class="light">&amp;</span> <span class="heavy">Meetups</span>
                    <span class="overview-nav-fixed-btn">Events</span>
                  </a>
                  <a href="#contribute" class="overview-btn maintainable-btn">
                    <span class="heavy">Contribute</span> <span class="light">to</span><br><span class="heavy">Done</span><span class="light">JS</span>
                    <span class="overview-nav-fixed-btn">Contribute</span>
                  </a>
                </div>
            </div>
            <div class="triptych hidden-xs">
                <div class="col-xs-12 col-sm-4 box usability" data-scrollto="#usability">
                    <h2>Help <span class="light">&amp</span><br> Learning Resources</h2>
                </div>
                <div class="col-xs-12 col-sm-4 box performance" data-scrollto="#performance">
                    <h2><span class="light">Upcoming</span><br>Events <span class="light">&amp;</span> Meetups</h2>
                </div>
                <div class="col-xs-12 col-sm-4 box maintainable" data-scrollto="#maintainable">
                    <h2>Contribute <span class="light">to</span><br>Done<span class="light">JS</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="usability resources wrapper">
        <div class="lead-in">
            <a id="resources" style="vertical-align: top;"></a>
            <a id="usability" style="vertical-align: top;"></a>
            <h1><span class="heavy">Help</span> <span class="light">&amp;</span> <span class="heavy">Learning Resources</span></h1>
        </div>
        <div class="col-sm-10 col-lg-7 center-block featured-resources">
          <div class="col-sm-6">
            <h3><a href="https://gitter.im/donejs/donejs"><img class="featured-resource-icon" src="./static/img/icon-gittr-black.svg"> Gitter</a></h3>
            <p>
              Get help and chat with our team in realtime! We love to answer questions and help out.
            </p>
          </div>
          <div class="col-sm-5 col-sm-offset-1 col-lg-5">
            <h3><a href="http://stackoverflow.com/search?q=donejs"><img class="featured-resource-icon" src="./static/img/icon-stackoverflow-black.svg"> Stack Overflow</a></h3>
            <p>
              Search questions about DoneJS. We actively watch SO for questions to provide answers to the community.
            </p>
          </div>
        </div>
        <div class="col-sm-10 col-lg-7 center-block weekly-trainings clearfix">
          <h2>Free Weekly Trainings</h2>
          <p>
            Join us every <a href="http://blog.bitovi.com/free-weekly-online-javascript-training/#subscribe">Wednesday at Noon, CST </a>for free DoneJS and JavaScript trainings lead by members of our team. We discuss different topics every week from the basics to advanced level techniques to help you step up your game. Also check out all of our past training sessions on youtube.
          </p>
          <div class="col-sm-4">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZwjW54kNXnQ" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OCw1yb8Zcwo" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Li-BEEYKYqw" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-sm-12 text-center">
          <a class="btn" href="http://blog.bitovi.com/free-weekly-online-javascript-training/#subscribe">View the Calendar</a>
        </div>

    </div>

    <div class="performance upcoming-events wrapper col-xs-12">
      <a id="performance" style="vertical-align: top;"></a>
      <a id="events" style="vertical-align: top;"></a>
      <div class="lead-in">
          <div class="title-padding">
              <h1><span class="light">Upcoming</span> <span class="heavy">Events</span></h1>
          </div>
      </div>
      <div class="inner-wrapper">
      <div id="bithub-events-embed" class="col-sm-10 col-lg-9 center-block table-row">
        <span class="pending-spinner"></span>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.11/moment-timezone-with-data.min.js"></script>
    </div>


      <div class="lead-in">
          <div class="title-padding">
              <h1><span class="heavy">Done</span><span class="light">JS</span> <span class="heavy">Meetups</span></h1>
          </div>
      </div>
      <div class="inner-wrapper">
      <div class="col-sm-10 col-lg-9 center-block meetup-locations hidden-xs">
        <div class="col-sm-3">
          <ul class="meetup-list">
            <li>
              <a href="http://www.meetup.com/DoneJS-Boston/" class="meetup-item">Boston</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Chicago/" class="meetup-item">Chicago</a>
            </li>
            <li>
              <a href="http://www.meetup.com/CanJS-Zagreb/" class="meetup-item">Croatia</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="meetup-list">
            <li>
              <a href="http://bitovi.github.io/canjsmeetup/#sponsors_and_organizers-dallas" class="meetup-item">Dallas</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Fort-Lauderdale/" class="meetup-item">Ft. Lauderdale</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-LA/" class="meetup-item">Los Angeles</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="meetup-list">
            <li>
              <a href="http://www.meetup.com/DoneJS-NYC/" class="meetup-item">New York</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Phoenix/" class="meetup-item">Phoenix</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-raleigh-durham/" class="meetup-item">Raleigh-Durham</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="meetup-list">
            <li>
              <a href="http://www.meetup.com/DoneJS-San-Francisco/" class="meetup-item">San Francisco</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Seattle/" class="meetup-item">Seattle</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Silicon-Valley/" class="meetup-item">Silicon Valley</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="meetup-locations hidden-sm hidden-md hidden-lg">
        <div class="col-xs-6">
          <ul class="meetup-list">
            <li>
              <a href="http://www.meetup.com/DoneJS-Boston/" class="meetup-item">Boston</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Chicago/" class="meetup-item">Chicago</a>
            </li>
            <li>
              <a href="http://www.meetup.com/CanJS-Zagreb/" class="meetup-item">Croatia</a>
            </li>
            <li>
              <a href="http://bitovi.github.io/canjsmeetup/#sponsors_and_organizers-dallas" class="meetup-item">Dallas</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Fort-Lauderdale/" class="meetup-item">Ft. Lauderdale</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-LA/" class="meetup-item">Los Angeles</a>
            </li>
          </ul>
        </div>

        <div class="col-xs-6">
          <ul class="meetup-list">
            <li>
              <a href="http://www.meetup.com/DoneJS-NYC/" class="meetup-item">New York</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Phoenix/" class="meetup-item">Phoenix</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-raleigh-durham/" class="meetup-item">Raleigh-Durham</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-San-Francisco/" class="meetup-item">San Francisco</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Seattle/" class="meetup-item">Seattle</a>
            </li>
            <li>
              <a href="http://www.meetup.com/DoneJS-Silicon-Valley/" class="meetup-item">Silicon Valley</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
      <div class="col-sm-12 new-meetup-request">
        <h3>Don’t See Your City? Start a Meetup Today!</h3>
        <p>
          If you can gather 10 people in your nearest city, we’ll work with you to start a new meetup.
        </p>
        <a href="mailto:contact@bitovi.com" class="btn">Get in Touch</a>
      </div>
    </div>

    <div class="maintainable wrapper contribute">
        <div class="lead-in">
            <a id="contribute" style="vertical-align: top;"></a>
            <a id="maintainable"></a>
            <h1><span class="heavy">Contribute</span> <span class="light">to</span> <span class="heavy">Done</span><span class="light">JS</span></h1>
            <p>
              The <a href="./contributing.html">contribution guide</a> includes information about our code of conduct, reporting bugs, submitting new code, and more.
            </p>
            <p>
              We want and need your help!
            </p>
        </div>
    </div>
  </div>
</div>
