<div class="container-fluid">
  <div class="row">
    <div class="hero clearfix">
        <div class="transparency clearfix">
            <div class="lead-in">
                <h1 class="heavy">Your App. Done.</h1>
                <h3 class="lead"><span class="heavy">DoneJS</span> is an open source JavaScript framework that makes it easy to build high performance, real time web and mobile applications.</h3>
                <div class="overview-nav hidden-sm hidden-md hidden-lg">
                  <a href="#usability" class="overview-btn usability-btn">
                    Improved App <span class="heavy">Usability</span>
                  </a>
                  <a href="#performance" class="overview-btn performance-btn">
                    Better <span class="heavy">Performance</span>
                  </a>
                  <a href="#maintainable" class="overview-btn maintainable-btn">
                    More <span class="heavy">Maintainable</span>
                  </a>
                </div>
                <div class="install">
                    <div class="col-xs-12 col-sm-6 install-donejs">
                        <p class="caption">Ready to install DoneJS?</p>
                        <textarea>npm install -g donejs &#13;donejs init my-app</textarea>
                    </div>
                    <div class="col-xs-12 col-sm-6 guide">
                        <p><a class="btn" href="Guide.html" role="button">Start Guide</a></p>
                        <div class="social">
                          <a href="https://twitter.com/donejs" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @donejs</a>
                          <iframe height="20px" class="ghbtns" src="http://ghbtns.com/github-btn.html?user=donejs&repo=donejs&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="triptych hidden-xs">
                <div class="col-xs-12 col-sm-4 box usability" data-target="usability">
                    <h2><span class="light">Improved App</span><br>Usability</h2>
                    <p>
                      <a href="Features.html">iOS, Android, and Desktop Builds</a>;
                      <a href="Features.html">Supports All Browsers, even IE8</a>;
                      <a href="Features.html">Real time Connected</a>;
                      <a href="Features.html">Pretty URL’s with Pushstate</a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 box performance" data-target="performance">
                    <h2><span class="light">Better</span><br>Performance</h2>
                    <p>
                      <a href="Features.html">Server Side Rendered (Isomorphic)</a>;
                      <a href="Features.html">Progressive Loading </a>;
                      <a href="Features.html">Minimal Data Requests</a>;
                      <a href="Features.html">Minimal DOM Updates</a>;
                      <a href="Features.html">Worker Thread Rendering; Deploy to a CDN</a>
                      <a href="Features.html">Deploy to a CDN</a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 box maintainable" data-target="maintainable">
                    <h2><span class="light">More</span><br>Maintainable</h2>
                    <p>
                      <a href="Features.html">Unit and Functional Tests</a>;
                      <a href="Features.html">Documentation</a>;
                      <a href="Features.html">Continuous Integration &amp; Deployment</a>;
                      <a href="Features.html">NPM Packages</a>;
                      <a href="Features.html">ES6 Modules</a>;
                      <a href="Features.html">Modlets</a>;
                      <a href="Features.html">Custom HTML Elements</a>;
                      <a href="Features.html">MVVM Reactive Architecture</a>;
                      <a href="Features.html">Live reload</a>;
                      <a href="Features.html">Generators</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="usability wrapper">
        <div class="lead-in">
            <a id="usability"></a>
            <h1><span class="light">Improved App</span> <span class="heavy">Usability</span></h1>
            <h3 class="lead"><span class="bold">DoneJS</span><span class="normal"> is used to make beautiful, real-time user interfaces that can be exported to run on every platform.</span></h3>
            <h3 class="heavy">Take our example app for a spin:</h3>
            <div class="spacer"></div>
            <div class="usability-row">
                <div class="col-sm-3">
                    <div class="phase ios">
                        <img src="static/img/thumb-ios.svg">
                        <a class="btn" href="https://github.com/donejs/donejs/wiki/Deploying-to-iOS-for-testing" role="button">
                            iOS
                            <span class="img-wrap">
                                <img src="static/img/donejs-final_arrow-icon_2.svg">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="phase android">
                        <img src="static/img/thumb-android.svg">
                        <a class="btn" href="https://github.com/donejs/place-my-order/releases/download/v0.2.0/android-release-unsigned.apk" role="button">
                            Android
                            <span class="img-wrap">
                                <img src="static/img/donejs-final_arrow-icon_2.svg">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                  <!-- be careful of JS classes here. -->
                    <div class="phase desktop">
                        <img src="static/img/thumb-desktop.svg">
                        <a class="btn" href="#" onclick="return false;" role="button">
                            Desktop
                            <span class="img-wrap">
                                <img src="static/img/donejs-final_arrow-icon_2.svg">
                            </span>
                        </a>
                        <div class="usability-dl-options">
                          <a href="https://github.com/donejs/place-my-order/releases/download/v0.2.0/place-my-order-osx64.zip">
                              OSX
                          </a>
                          <a href="https://github.com/donejs/place-my-order/releases/download/v0.2.0/place-my-order-win64.zip">
                              Windows 64bit
                          </a>
                          <a href="https://github.com/donejs/place-my-order/releases/download/v0.2.0/place-my-order-win32.zip">
                              Windows 32bit
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="phase ontheweb">
                        <img src="static/img/thumb-on-the-web.svg">
                        <a class="btn" href="https://github.com/donejs/place-my-order/archive/v0.2.0.zip" role="button">
                            On the Web
                            <span class="img-wrap">
                                <img src="static/img/donejs-final_arrow-icon_2.svg">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <h3 class="light learn">Learn how to build this in our <a href="Guide.html">getting started guide!</a></h3>
            <h2 class="heavy better">More ways DoneJS is better for users:</h2>
            <p class="trail">
              <a href="Guide.html#">iOS, Android, and Desktop Builds</a><span class="pipe-spacer"> | </span>
              <a href="Guide.html#">Supports All Browsers, even IE8</a><span class="pipe-spacer"> | </span>
              <a href="Guide.html#">Real Time Connected</a><span class="pipe-spacer"> | </span>
              <a href="Guide.html#">Pretty URL’s with Pushstate</a>
            </p>
        </div>
    </div>
    <div class="performance wrapper col-xs-12 hidden-md hidden-lg">
      <div class="lead-in">
          <a id="performance"></a>
          <div class="title-padding">
              <h1><span class="light">Better</span> <span class="heavy">Performance</span></h1>
              <h3 class="lead"><span class="bold">DoneJS</span> is configured for maximum performance right out of the box.</h3>
              <h3 class="heavy">Scroll the graph to see how it works:</h3>
          </div>
          <div class="spacer"></div>
      </div>
    </div>
    <div class="mobile-graph hidden-md hidden-lg">
      <div class="graph-logos">
        <img src="/static/img/donejs-mobile-guide-logos.png" srcset="/static/img/donejs-mobile-guide-logos.png 1x, /static/img/donejs-mobile-guide-logos-2x.png 2x">
      </div>
      <div class="graph-timeline-wrapper">
        <div class="graph-timeline">
            <img src="/static/img/donejs-mobile-guide-timeline.gif" srcset="/static/img/donejs-mobile-guide-timeline.gif 1x, /static/img/donejs-mobile-guide-timeline-2x.gif 2x">
        </div>
      </div>

    </div>
    <div class="performance-mobile-trail col-xs-12 hidden-md hidden-lg">
      <h2 class="heavy">More ways DoneJS improves app performance:</h2>
      <p class="trail">
          <a href="Guide.html#">Server Side Rendered (Isomorphic)</a><span class="pipe-spacer"> | </span>
          <a href="Guide.html#">Progressive Loading</a><span class="pipe-spacer"> | </span>
          <a href="Guide.html#">Minimal Data Requests</a><span class="pipe-spacer"> | </span>
          <a href="Guide.html#">Minimal DOM Updates</a><span class="pipe-spacer"> | </span>
          <a href="Guide.html#">Worker Thread Rendering</a><span class="pipe-spacer"> | </span>
          <a href="Guide.html#">Deploy to a CDN</a>
      </p>
    </div>
    <div class="performance wrapper hidden-xs hidden-sm">
        <div class="lead-in">
            <a id="performance"></a>
            <div class="title-padding">
                <h1><span class="light">Better</span> <span class="heavy">Performance</span></h1>
                <h3 class="lead"><span class="bold">DoneJS</span> is configured for maximum performance right out of the box.</h3>
                <h3 class="heavy">Rollover the graph to see how it works:</h3>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="graph">
            <div class="performance-row">
                <div class="col donejs">
                    <img class="donejs-text" src="static/img/donejs-final_Graph_1.svg">
                    <img class="donejs-thumbs" src="static/img/donejs-final_Graph_2.svg">
                </div>
                <div class="col naive">
                    <img class="naive-thumbs" src="static/img/donejs-final_Graph_3.svg">
                    <img class="naive-text" src="static/img/donejs-final_Graph_4.svg">
                </div>
            </div>
        </div>
        <h2 class="heavy">More ways DoneJS improves app performance:</h2>
        <p class="trail">
            <a href="Guide.html#">Server Side Rendered (Isomorphic)</a><span class="pipe-spacer"> | </span>
            <a href="Guide.html#">Progressive Loading</a><span class="pipe-spacer"> | </span>
            <a href="Guide.html#">Minimal Data Requests</a><span class="pipe-spacer"> | </span>
            <a href="Guide.html#">Minimal DOM Updates</a><span class="pipe-spacer"> | </span>
            <a href="Guide.html#">Worker Thread Rendering</a><span class="pipe-spacer"> | </span>
            <a href="Guide.html#">Deploy to a CDN</a>
        </p>
    </div>

    <div class="maintainable wrapper">
        <div class="lead-in">
            <a id="maintainable"></a>
            <h1><span class="light">More</span> <span class="heavy">Maintainable</span></h1>
             <h3 class="lead"><span class="bold">DoneJS</span> helps developers get things done quickly with an eye toward maintenance.</h3>
            <div class="maintain-blocks">
                <div class="col-xs-12 col-sm-6 background">
                    <img src="static/img/done-js-documentation.jpg" class="img-responsive" alt="Responsive image">
                    <div class="caption">
                        <h2 class="heavy">Documentation</h2>
                        <p>DoneJS applications use DocumentJS to produce multi-versioned documentation.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 background">
                    <video preload="auto" poster="static/img/donejs-testing.jpg" class="img-responsive">
                        <source src="static/img/donejs-testing.mov" type="video/mp4">
                        <source src="static/img/donejs-testing.mp4" type="video/mp4">
                        <source src="static/img/donejs-testing.ogg" type="video/mp4">
                        <source src="static/img/donejs-testing.webm" type="video/webm">
                    </video>
                    <div class="caption">
                        <h2 class="heavy">Testing</h2>
                        <p>DoneJS applications are functionally tested with highly accurate event simulation.</p>
                    </div>
                </div>
            </div>
            <div class="maintain-blocks">
                <div class="col-xs-12 col-sm-6 background">
                    <video preload="auto" poster="static/img/donejs-live-reload.jpg" class="img-responsive">
                        <source src="static/img/donejs-live-reload.mov" type="video/mp4">
                        <source src="static/img/donejs-live-reload.mp4" type="video/mp4">
                        <source src="static/img/donejs-live-reload.ogg" type="video/mp4">
                        <source src="static/img/donejs-live-reload.webm" type="video/webm">
                    </video>
                    <div class="caption">
                        <h2 class="heavy">Live Reload</h2>
                        <p>DoneJS applications keep developers focused because they enable super fast updates when code changes, updating only the modules that need to change.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 background">
                    <video preload="auto" poster="static/img/donejs-npm-packaging-custom-elements.jpg" class="img-responsive">
                        <source src="static/img/donejs-npm-packaging-custom-elements.mov" type="video/mp4">
                        <source src="static/img/donejs-npm-packaging-custom-elements.mp4" type="video/mp4">
                        <source src="static/img/donejs-npm-packaging-custom-elements.ogg" type="video/mp4">
                        <source src="static/img/donejs-npm-packaging-custom-elements.webm" type="video/webm">
                    </video>
                    <div class="caption">
                        <h2 class="heavy">NPM Packaging &amp; Custom HTML Elements</h2>
                        <p>DoneJS applications use DocumentJS to produce multi-versioned documentation.</p>
                    </div>
                </div>
            </div>
            <div class="maintain-blocks">
                <div class="col-xs-12 col-sm-6 background">
                    <img src="static/img/mvvm-reactive.jpg" class="img-responsive" alt="Responsive image">
                    <div class="caption">
                        <h2 class="heavy">MVVM Reactive Architecture</h2>
                        <p>DoneJS applications are architecturally Model-View-ViewModel applications where all events and updates flow in a single direction.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 background">
                    <img src="static/img/continuous-integration0deployment.jpg" class="img-responsive" class="img-responsive" alt="Responsive image">
                    <div class="caption">
                        <h2 class="heavy">Continuous Integration &amp; Deployment</h2>
                        <p>DoneJS verifies each repository check in with an automated build, allowing teams to detect problems early.</p>
                    </div>
                </div>
            </div>
            <h2>More ways DoneJS helps developers do their jobs</h2>
            <p class="trail">
                <a href="Guide.html#">Unit and Functional Tests</a><span class="pipe-spacer"> | </span>
                <a href="Guide.html#">Live reload</a><span class="pipe-spacer"> | </span>
                <a href="Guide.html#">Documentation</a><span class="pipe-spacer"> | </span>
                <a href="Guide.html#">NPM Packages</a><span class="pipe-spacer"> | </span>
                <a href="Guide.html#">Continuous Integration and Deployment</a><span class="pipe-spacer"> | </span>
                <a href="Guide.html#">ES6 Modules</a><span class="pipe-spacer"> | </span>
                <a href="Guide.html#">Modlets</a><span class="pipe-spacer"> | </span>
                <a href="Guide.html#">Custom HTML Elements</a><span class="pipe-spacer"> | </span>
                <a href="Guide.html#">MVVM Reactive Architecture</a><span class="pipe-spacer"> | </span>
                <a href="Guide.html#">Generators</a>
            </p>

        </div>
    </div>

    <div class="community wrapper">
        <div class="lead-in">
            <h1><span class="heavy">Community</span></h1>
            <h4>We’re always here to help, and we’d love to hear from you. <br>Here are some links to help you out.</h4>
        </div>
        <div class="links">
            <div class="col-sm-5">
                <h3><span class="heavy">Help</span></h3>
                <p>If you’re looking for help the best place to start
                  <br>is the forums or our Gitter chatroom.
                </p>
                <p><a href="https://gitter.im/donejs/donejs">Gitter</a></p>
                <p><a href="#">Forum </a></p>
                <p><a href="http://stackoverflow.com/search?q=donejs">Stack Overflow</a></p>
            </div>
            <div class="col-sm-4">
                <h3><span class="heavy">Keep in Touch</span></h3>
                <p><a href="https://twitter.com/bitovi">Twitter</a></p>
                <p><a href="https://www.youtube.com/channel/UC_HPFLeKzJNLOUnLc_3311Q/videos">Youtube</a></p>
                <p><a href="http://blog.bitovi.com/category/open-source/">Blog</a></p>

            </div>
            <div class="col-sm-3">
                <h3><span class="heavy">Contribute</span></h3>
                <p><a href="https://github.com/donejs/donejs/wiki">Contribution Guide</a></p>
                <p><a href="https://github.com/donejs">Github</a></p>
                <p><a href="https://github.com/donejs/donejs/issues">Submit Issues</a></p>
            </div>
        </div>
    </div>
  </div>
</div>
