<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

<div class="hero container">
    <div class="transparency">

        <div class="lead-in content">
            <h1 class="heavy">Your App. Done.</h1>

            <h3 class="lead"><span class="heavy">DoneJS</span> is an open source JavaScript framework that makes it easy
                to build high performance,
                real time web and mobile applications.</h3>


            <div class="row install">
                <div class="col-sm-6 code">
                    <p class="caption">Ready to install DoneJS?</p>
                    <textarea>npm install -g donejs &#13;donejs new my-app</textarea>

                </div>
                <div class="col-sm-6 start">
                    <p><a class="btn" href="Guide.html" role="button">Start Tutorial</a></p>

                    <div class="social">

                        <a href="https://twitter.com/donejs" class="twitter-follow-button" data-show-count="true"
                           data-dnt="true">Follow @donejs</a>

                        <iframe class="ghbtns"
                                src="http://ghbtns.com/github-btn.html?user=donejs&repo=donejs&type=watch&count=true"
                                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

                    </div>

                </div>


            </div>
        </div>

        <div class="row triptych">
            <div class="row-height">
                <div class="col-sm-4 col-sm-height box usability" data-target="usability">
                    <div class="inside inside-full-height">

                        <h2><span>Improved App</span> <span class="heavy">Usability</span></h2>

                        <a href="Features.html">iOS, Android, and Desktop Builds; Supports All
                            Browsers, even IE8; Real
                            time
                            Connected;
                            Pretty URL’s with Pushstate</a>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-height box performance" data-target="performance">
                    <div class="inside inside-full-height">

                        <h2><span>Better </span> <span class="heavy">Performance</span></h2>

                        <a href="Features.html">Server Side Rendered (Isomorphic); Progressive
                            Loading; Minimal Data
                            Requests;
                            Minimal
                            DOM Updates; Worker Thread Rendering; Deploy to a CDN</a>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-height box maintainable" data-target="maintainable">
                    <div class="inside inside-full-height">

                        <h2><span>More </span> <span class="heavy">Maintainable</span></h2>

                        <a href="Features.html">Unit and Functional Tests; Documentation;
                            Continuous Integration &
                            Deployment;
                            NPM
                            Packages; ES6 Modules; Modlets; Custom HTML Elements; MVVM Reactive Architecture; Live
                            reload; Generators</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="usability container">

    <div class="lead-in content">
        <a id="usability"></a>

        <h1><span class="light">Improved App</span> <span class="heavy">Usability</span></h1>

        <h3 class="lead">DoneJS is used to make beautiful, real-time user interfaces that can be exported to run on
            every
            platform.</h3>

        <h3>Take our example app for a spin:</h3>

        <div class="spacer"></div>


        <div class="row usability-row">
            <div class="col-sm-3">
                <div class="phase ios">
                    <img src="static/img/thumb-ios.svg">

                    <p><a class="btn" href="Guide.html" role="button">iOS <span class="img-wrap"><img
                            src="static/img/donejs-final_arrow-icon 2.svg"></span></a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="phase android">
                    <img src="static/img/thumb-android.svg">

                    <p><a class="btn" href="Guide.html" role="button">Android <span class="img-wrap"><img
                            src="static/img/donejs-final_arrow-icon 2.svg"></span></a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="phase desktop">
                    <img src="static/img/thumb-desktop.svg">

                    <p><a class="btn" href="Guide.html" role="button">Desktop <span class="img-wrap"><img
                            src="static/img/donejs-final_arrow-icon 2.svg"></span></a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="phase ontheweb">
                    <img src="static/img/thumb-on-the-web.svg">

                    <p><a class="btn" href="Guide.html" role="button">On the Web <span class="img-wrap"><img
                            src="static/img/donejs-final_arrow-icon 2.svg"></span></a></p>
                </div>
            </div>

        </div>

        <h3 class="normal learn">Learn how to build this in our <a href="Guide.html">getting started guide!</a></h3>

        <h2 class="heavy better">More ways DoneJS is better for users:</h2>

        <p class="trail">
            <a href="Guide.html#">iOS, Android, and Desktop Builds</a> |
            <a href="Guide.html#">Supports All Browsers, even IE8</a> |
            <a href="Guide.html#">Real Time Connected</a> |
            <a href="Guide.html#">Pretty URL’s with Pushstate</a>
        </p>
    </div>

</div>

<div class="performance container">
    <div class="lead-in content">
        <a id="performance"></a>

        <div class="title-padding">
            <h1><span class="light">Better</span> <span class="heavy">Performance</span></h1>

            <h3 class="lead">DoneJS is configured for maximum responsiveness right out of the box.</h3>

            <h3 class="rollover">Rollover the graph to see how it works</h3>
        </div>

        <div class="spacer"></div>

    </div>
    <div class="graph content">
        <div class="performance-row">
            <div class="col donejs">
                <img class="donejs-text" src="static/img/donejs-final_Graph 1.svg">
                <img class="donejs-thumbs" src="static/img/donejs-final_Graph 2.svg">
            </div>
            <div class="col naive">
                <img class="naive-thumbs" src="static/img/donejs-final_Graph 3.svg">
                <img class="naive-text" src="static/img/donejs-final_Graph 4.svg">
            </div>
        </div>
    </div>
    <div class="trail content">

        <h2 class="heavy">More ways DoneJS improves app performance:</h2>

        <h3 class="links">
            <a href="Guide.html#">Server Side Rendered (Isomorphic)</a> |
            <a href="Guide.html#">Progressive Loading</a> |
            <a href="Guide.html#">Minimal Data Requests</a> |
            <a href="Guide.html#">Minimal DOM Updates</a> |
            <a href="Guide.html#">Worker Thread Rendering</a> |
            <a href="Guide.html#">Deploy to a CDN</a>
        </h3>

    </div>
</div>

<div class="maintainable container">
    <div class="lead-in content">
        <a id="maintainable"></a>

        <h1><span class="light">More</span> <span class="heavy">Maintainable</span></h1>

        <div class="row">
            <div class="row-height ">
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">

                        <img src="static/img/donejs-documentation.png" class="img-responsive" alt="Responsive image">

                        <div class="caption">
                            <h2 class="heavy">Documentation</h2>

                            <p>DoneJS applications use DocumentJS to produce multi-versioned documentation.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">

                        <video preload="yes" class="img-responsive">
                            <source src="static/img/donejs-testing.mov" type="video/mp4">
                            <source src="static/img/donejs-testing.mp4" type="video/mp4">
                            <source src="static/img/donejs-testing.ogg" type="video/mp4">
                            <source src="static/img/donejs-testing.webm" type="video/webm">
                        </video>

                        <div class="caption">
                            <h2 class="heavy">Testing</h2>

                            <p>DoneJS applications use DocumentJS to produce multi-versioned documentation.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-height">
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">
                        <video preload="yes" poster="" class="img-responsive">
                            <source src="static/img/donejs-live-reload.mov" type="video/mp4">
                            <source src="static/img/donejs-live-reload.mp4" type="video/mp4">
                            <source src="static/img/donejs-live-reload.ogg" type="video/mp4">
                            <source src="static/img/donejs-live-reload.webm" type="video/webm">
                        </video>

                        <div class="caption">
                            <h2 class="heavy">Live Reload</h2>

                            <p>DoneJS applications use DocumentJS to produce multi-versioned documentation.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">
                        <video preload="yes" poster="" class="img-responsive">
                            <source src="static/img/donejs-npm-packaging-custom-elements.mov" type="video/mp4">
                            <source src="static/img/donejs-npm-packaging-custom-elements.mp4" type="video/mp4">
                            <source src="static/img/donejs-npm-packaging-custom-elements.ogg" type="video/mp4">
                            <source src="static/img/donejs-npm-packaging-custom-elements.webm" type="video/webm">
                        </video>

                        <div class="caption">
                            <h2 class="heavy">NPM Packaging &amp; Custom HTML Elements</h2>

                            <p>DoneJS applications use DocumentJS to produce multi-versioned documentation.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-height">
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">

                        <img src="http://lorempixel.com/g/400/200/" class="img-responsive" alt="Responsive image">

                        <div class="caption">
                            <h2 class="heavy">MVVM Reactive Architecture</h2>

                            <p>DoneJS applications use DocumentJS to produce multi-versioned documentation.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">

                        <img src="http://lorempixel.com/g/400/200/" class="img-responsive" alt="Responsive image">

                        <div class="caption">
                            <h2 class="heavy">Continuous Integration & Deployment</h2>

                            <p>DoneJS applications use DocumentJS to produce multi-versioned documentation.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <h2 class="trail heavy">More ways DoneJS helps developers do their jobs</h2>

        <h3 class="links">
            <a href="Guide.html#">Unit and Functional Tests</a> |
            <a href="Guide.html#">Documentation; Continuous Integration and Deployment; NPM Packages</a> |
            <a href="Guide.html#">ES6 Modules</a> |
            <a href="Guide.html#">Modlets</a> |
            <a href="Guide.html#">Custom HTML Elements</a> |
            <a href="Guide.html#">MVVM Reactive Architecture</a> |
            <a href="Guide.html#">Live reload; Generators</a>
        </h3>

    </div>

</div>


<div class="community container">
    <div class="lead-in content">
        <h1><span class="heavy">Community</span></h1>
        <h4>We’re always here to help, and we’d love to hear from you. Here’s some links to help you out.</h4>
    </div>

    <div class="content row links">

        <div class="col-sm-4 col-sm-height">

            <h3><span class="heavy">Help</span></h3>

            <p>If you’re looking for help the best place to start is the forums or our Gitter chatroom.</p>

            <p><a href="https://gitter.im/donejs/donejs">Gitter</a> (100 Conversations)</p>

            <p><a href="#">Forum </a> (100 FAQ’s)</p>

            <p><a href="http://stackoverflow.com/search?q=donejs">Stack Overflow</a> (100 Conversations)</p>
        </div>
        <div class="col-sm-4 col-sm-height">

            <h3><span class="heavy">Keep in Touch</span></h3>

            <p><a href="https://twitter.com/bitovi">Twitter</a> (100 Followers)</p>

            <p><a href="https://www.youtube.com/channel/UC_HPFLeKzJNLOUnLc_3311Q/videos">Youtube</a> (200 Videos)</p>

            <p><a href="http://blog.bitovi.com/">Blog</a> (100 Articles)</p>

        </div>
        <div class="col-sm-4 col-sm-height">

            <h3><span class="heavy">Contribute</span></h3>

            <p><a href="https://github.com/donejs/donejs/wiki">Contribution Guide</a></p>

            <p><a href="https://github.com/donejs">Github</a></p>

            <p><a href="https://github.com/donejs/donejs/issues">Submit Issues</a></p>


        </div>

    </div>
</div>

</body>

