<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

<div class="hero container">

    <div class="lead-in content">
        <h1 class="heavy">Your App. Done.</h1>

        <h3 class="lead"><span class="heavy">DoneJS</span> is an open source JavaScript framework that makes it easy
            to build high performance,
            real time web and mobile applications.</h3>


        <div class="row install">
            <div class="col-sm-6 code">
                <p>Ready to install DoneJS?</p>
                <pre>npm install -g donejs<br>donejs new my-app</pre>
            </div>
            <div class="col-sm-6 start">
                <p><a class="btn" href="#" role="button">Start Tutorial</a></p>
            </div>
        </div>
    </div>

    <div class="content row triptych">
        <div class="row-height">
            <div class="col-sm-4 col-sm-height box usability">
                <div class="inside inside-full-height">

                    <h2><span class="light">Improved App</span> <span class="heavy">Usability</span></h2>

                    <a href="#">iOS, Android, and Desktop Builds; Supports All Browsers, even IE8; Real time
                        Connected;
                        Pretty URL’s with Pushstate</a>

                </div>
            </div>

            <div class="col-sm-4 col-sm-height box performance">
                <div class="inside inside-full-height">

                    <h2><span class="light">Better </span> <span class="heavy">Performance</span></h2>

                    <a href="#">Server Side Rendered (Isomorphic); Progressive Loading; Minimal Data Requests;
                        Minimal
                        DOM Updates; Worker Thread Rendering; Deploy to a CDN</a>


                </div>
            </div>
            <div class="col-sm-4 col-sm-height box maintainable">
                <div class="inside inside-full-height">

                    <h2><span class="light">More </span> <span class="heavy">Maintainable</span></h2>

                    <a href="#">Unit and Functional Tests; Documentation; Continuous Integration & Deployment;
                        NPM
                        Packages; ES6 Modules; Modlets; Custom HTML Elements; MVVM Reactive Architecture; Live
                        reload; Generators</a>


                </div>
            </div>
        </div>
    </div>


</div>

<div class="usability container">

    <div class="lead-in content">

        <h1><span class="light">Improved App</span> <span class="heavy">Usability</span></h1>

        <h3 class="lead">DoneJS is used to make beautiful, real-time user interfaces that can be exported to run on
            every
            platform.</h3>

        <h3>Take our example app for a spin:</h3>

        <div class="spacer"></div>


        <div class="row usability-row">
            <div class="col-sm-3">
                <div class="phase ios">
                    <img src="static/img/thumb-ios.svg">

                    <p><a class="btn" href="#" role="button">iOS</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="phase android">
                    <img src="static/img/thumb-android.svg">

                    <p><a class="btn" href="#" role="button">Android</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="phase desktop">
                    <img src="static/img/thumb-desktop.svg">

                    <p><a class="btn" href="#" role="button">Desktop</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="phase ontheweb">
                    <img src="static/img/thumb-on-the-web.svg">

                    <p><a class="btn" href="#" role="button">On the Web</a></p>
                </div>
            </div>

        </div>

        <h3 class="normal learn">Learn how to build this in our <a href="#">getting started guide!</a></h3>

        <h2 class="heavy better">More ways DoneJS is better for users:</h2>

        <p class="trail">
            <a href="#">iOS, Android, and Desktop Builds</a> |
            <a href="#">Supports All Browsers, even IE8</a> |
            <a href="#">Real Time Connected</a> |
            <a href="#">Pretty URL’s with Pushstate</a>
        </p>
    </div>

</div>

<div class="performance container">
    <div class="lead-in content">
        <div class="title-padding">
            <h1><span class="light">Better</span> <span class="heavy">Performance</span></h1>

            <h3 class="lead">DoneJS is configured for maximum responsiveness right out of the box.</h3>

            <h3 class="rollover">Rollover the graph to see how it works</h3>
        </div>

        <div class="spacer"></div>

    </div>
    <div class="graph content">
        <div class="row">
            <div class="col-custom-2 donejs-text"><img src="static/img/donejs-final_Graph 1.svg"></div>
            <div class="col-custom-3 donejs-thumbs"><img src="static/img/donejs-final_Graph 2.svg"></div>
            <div class="col-custom-1 timeline"><img src="static/img/donejs-final_Graph 5.svg"></div>
            <div class="col-custom-3 naive-thumbs"><img src="static/img/donejs-final_Graph 3.svg"></div>
            <div class="col-custom-2 naive-text"><img src="static/img/donejs-final_Graph 4.svg"></div>
        </div>
    </div>
    <div class="trail content">

        <h2 class="heavy">More ways DoneJS improves app performance:</h2>

        <h3 class="links">
            <a href="#">Server Side Rendered (Isomorphic)</a> |
            <a href="#">Progressive Loading</a> |
            <a href="#">Minimal Data Requests</a> |
            <a href="#">Minimal DOM Updates</a>
            <a href="#">Worker Thread Rendering</a>
            <a href="#">Deploy to a CDN</a>
        </h3>

    </div>
</div>

<div class="maintainable container">
    <div class="lead-in content">
        <h1><span class="light">More</span> <span class="heavy">Maintainable</span></h1>

        <div class="row">
            <div class="row-height ">
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">

                        <img src="static/img/donejs-documentation.png" class="img-responsive" alt="Responsive image">

                        <div class="caption">
                            <h2>Documentation</h2>

                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor
                                id
                                nibh ultricies.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">

                        <video preload="yes" class="img-responsive" >
                            <source src="static/img/donejs-testing.mov" type="video/mp4">
                            <source src="static/img/donejs-testing.mp4" type="video/mp4">
                            <source src="static/img/donejs-testing.ogg" type="video/mp4">
                            <source src="static/img/donejs-testing.webm" type="video/webm">
                        </video>

                        <div class="caption">
                            <h2>Testing</h2>

                            <p>Donec sed odio dui.
                                Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id
                                Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id
                                nibh ultricies.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-height">
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">
                        <video preload="yes" poster="" class="img-responsive" >
                            <source src="static/img/donejs-live-reload.mov" type="video/mp4">
                            <source src="static/img/donejs-live-reload.mp4" type="video/mp4">
                            <source src="static/img/donejs-live-reload.ogg" type="video/mp4">
                            <source src="static/img/donejs-live-reload.webm" type="video/webm">
                        </video>

                        <div class="caption">
                            <h2>Live Reload</h2>

                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor
                                id
                                nibh ultricies.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">
                        <video preload="yes" poster="" class="img-responsive" >
                            <source src="static/img/donejs-npm-packaging-custom-elements.mov" type="video/mp4">
                            <source src="static/img/donejs-npm-packaging-custom-elements.mp4" type="video/mp4">
                            <source src="static/img/donejs-npm-packaging-custom-elements.ogg" type="video/mp4">
                            <source src="static/img/donejs-npm-packaging-custom-elements.webm" type="video/webm">
                        </video>

                        <div class="caption">
                            <h2>NPM Packaging &amp; Custom HTML Elements</h2>

                            <p>Donec sed odio dui.
                                Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id
                                Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id
                                nibh ultricies.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-height">
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">

                        <video preload="yes" poster="" class="img-responsive">
                            <source src="static/img/donejs-npm-packaging-custom-elements.mov" type="video/mp4">
                            <source src="static/img/donejs-npm-packaging-custom-elements.mp4" type="video/mp4">
                            <source src="static/img/donejs-npm-packaging-custom-elements.ogg" type="video/mp4">
                            <source src="static/img/donejs-npm-packaging-custom-elements.webm" type="video/webm">
                        </video>

                        <div class="caption">
                            <h2>Live Reload</h2>

                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor
                                id
                                nibh ultricies.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-sm-height">
                    <div class="inside inside-full-height">

                        <img src="http://lorempixel.com/g/400/200/" class="img-responsive" alt="Responsive image">

                        <div class="caption">
                            <h2>NPM Packaging &amp; Custom HTML Elements</h2>

                            <p>Donec sed odio dui.
                                Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id
                                Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id
                                nibh ultricies.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <h2 class="trail heavy">More ways DoneJS helps developers do their jobs</h2>

        <h3 class="links">
            <a href="#">Unit and Functional Tests</a> |
            <a href="#">Documentation; Continuous Integration and Deployment; NPM Packages</a> |
            <a href="#">ES6 Modules</a> |
            <a href="#">Modlets</a> |
            <a href="#">Custom HTML Elements</a> |
            <a href="#">MVVM Reactive Architecture</a> |
            <a href="#">Live reload; Generators</a>
        </h3>

    </div>

</div>


<div class="community container">
    <div class="lead-in content">
        <h1><span class="heavy">Community</span></h1>
        <h4>We’re always here to help, and we’d love to hear from you. Here’s some links to help you out.</h4>
    </div>

    <div class="content row links">

        <div class="col-sm-4 col-sm-height">

            <h3><span class="heavy">Help</span></h3>

            <p>If you’re looking for help the best place to start is the forums or our Gitter chatroom.</p>

            <p><a href="#">Gitter</a> (100 Conversations)</p>

            <p><a href="#">Forum </a> (100 FAQ’s)</p>

            <p><a href="#">Stack Overflow</a> (100 Conversations)</p>
        </div>
        <div class="col-sm-4 col-sm-height">

            <h3><span class="heavy">Keep in Touch</span></h3>

            <p><a href="#">Twitter</a> (100 Followers)</p>

            <p><a href="#">Youtube</a> (200 Videos)</p>

            <p><a href="#">Blog</a> (100 Articles)</p>

        </div>
        <div class="col-sm-4 col-sm-height">

            <h3><span class="heavy">Contribute</span></h3>

            <p><a href="#">Contribution Guide</a></p>

            <p><a href="#">Github</a></p>

            <p><a href="#">Submit Issues</a></p>


        </div>

    </div>
</div>
</body>

