<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
<html class="no-js ie lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="no-js ie lt-ie9" lang="en">
<![endif]-->
<!--[if IE 9]>
<html class="no-js ie ie9" lang="en">
<![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{{makeParentTitle}} {{#if title}}- {{title}} {{else}} {{#if name}}- {{name}}{{/if}}{{/if}}</title>
	<meta name="description" content="DoneJS is an open source JavaScript framework that makes it easy to build high performance, real time web and mobile applications.">
	<meta name="author" content="Bitovi - DoneJS">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	{{^devBuild}}
	<link rel="stylesheet" type="text/css" href="./static/bundles/static.css">
	{{/devBuild}}
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
	<!--[if lt IE 9]>
		<script type="text/javascript" src="static/html5shiv.js"></script>
	<!--<![endif]-->
	<style type="text/css">
		.brand {
			background-image: url('/static/img/donejs-logo-white.svg') !important;
			background-size: 170px;
		}
	</style>
</head>
<body class="docs {{name}}">
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
						<div class="logo-menu">
							<a class="brand" href="./index.html">DoneJS</a>
							<ul class="dropdown-menu">
								<li><a href="http://donejs.com" class="active">DoneJS</a></li>
								<li><a href="http://canjs.com">CanJS</a></li>
								<li><a href="http://stealjs.com">StealJS</a></li>
								<li><a href="http://jquerypp.com">jQuery++</a></li>
								<li><a href="http://funcunit.com">FuncUnit</a></li>
								<li><a href="http://documentjs.com">DocumentJS</a></li>
							</ul>
						</div>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li {{#ifCurrentFromConfig "../index.html"}}class="active"{{/ifCurrentFromConfig}}>
								<a href="./index.html">Home</a>
							</li>
							<li {{#ifCurrentFromConfig "../Features.html"}}class="active"{{/ifCurrentFromConfig}}>
								<a href="./Features.html">Features</a>
							</li>
							<li {{#ifCurrentFromConfig "../Guide.html"}}class="active"{{/ifCurrentFromConfig}}>
								<a href="./Guide.html">Guide</a>
							</li>
						</ul>

			      <ul class="nav navbar-nav navbar-right bitovi-menu">
			        <li class="dropdown">
								<a href="http://bitovi.com" class="bitovi icon-bits">Bitovi</a>
			          <ul class="dropdown-menu">
									<li><a href="http://bitovi.com">Bitovi.com</a></li>
									<li><a href="http://bitovi.com/blog/">Blog</a></li>
									<li><a href="http://bitovi.com/consulting/">Consulting</a></li>
									<li><a href="http://bitovi.com/training/">Training</a></li>
									<li><a href="http://bitovi.com/open-source/">Open Source</a></li>
									<li><a href="http://bitovi.com/people/">People</a></li>
									<li><a href="http://bitovi.com/contact/">Contact Us</a></li>
			          </ul>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</header>

	{{{content}}}
	{{^hideFooter}}
	<footer>
		<nav>
			<a class="brand javascriptmvc" href="index.html"></a>
		</nav>
	</footer>
	{{/hideFooter}}

	<script type="text/javascript">
		var docObject = {{{docObjectString}}};
	</script>

	{{#if devBuild}}
		<script type='text/javascript'
				data-main="static"
				data-config="./static/config.js"
				src="./static/steal/steal.js"></script>
	{{else}}
		<script>
		  steal = {
			instantiated: {
			  "bundles/static.css!$css" : null
			}
		  }
		</script>
		<script type='text/javascript'
				data-main="static"
				data-config="./static/config.js"
				src="./static/steal.production.js"
				bundles-path="bundles"></script>
	{{/if}}
</body>

{{#ifCurrentFromConfig "../index.html"}}
<script>
	// cool scripts go here
</script>
{{/ifCurrentFromConfig}}

</html>
